/* 10px */
/* 12px */
/* 13px */
/* 14px */
/* 15px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 32px */
/* 38px */
/* 40px */
/* 56px */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  height: auto;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-size: 1.125rem;
}

header {
  background: hsl(0, 0%, 100%);
  position: relative;
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding-block-end: 2em;
  padding-block-start: 2.25em;
}

main {
  position: relative;
}

section {
  display: flow-root;
  padding-block-end: 3em;
}

h1, h2, h3 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  margin-block-start: 0;
  text-align: center;
}

p {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.public-sans-fem009 {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.container {
  margin-inline: auto;
  width: 327px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 500px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 800px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1110px;
  }
}
.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

.profile_bg {
  background-color: hsl(220, 16%, 96%);
  box-shadow: 0 0 0 100vmax hsl(220, 16%, 96%);
  clip-path: inset(0 -100vmax);
}

.primary-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: start;
  padding-block-end: 1em;
  padding-block-start: 1.063em;
  position: relative;
  width: 100%;
  z-index: 11;
}

.header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .header__box {
    padding-block-end: 0;
    padding-block-start: 0;
  }
}
.primary-header[data-overlay]::before {
  background: linear-gradient(to bottom, hsl(233, 26%, 24%), transparent);
  content: "";
  inset: 0;
  margin-block-start: 3.375em;
  position: fixed;
  z-index: 9;
}

#eb-header-navi {
  display: none;
}

#eb-header-navi[data-visible] {
  background: hsl(0, 0%, 100%);
  border-radius: 4px;
  display: block;
  left: 50%;
  margin-block-start: 3em;
  margin-inline: auto;
  padding-block: 1.5em 1.5em;
  position: fixed;
  top: 17%;
  transform: translate(-50%, -50%);
  width: 327px;
}

.nav__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: hsl(233, 26%, 24%);
}

.mobile__nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 24px;
  position: sticky;
  width: 24px;
}

.mobile__nav-toggle[aria-expanded=false] {
  background-image: url("../images/icon-hamburger.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 11px;
}

.mobile__nav-toggle[aria-expanded=true] {
  background-image: url("../images/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 19px;
}

@media screen and (min-width: 960px) {
  #eb-header-navi[data-visible] {
    background: hsl(0, 0%, 100%);
    border-radius: 4px;
    display: block;
    left: 50%;
    margin-inline: auto;
    margin-block-start: 0;
    padding-block: 1.5em 1.5em;
    position: fixed;
    top: 32%;
    transform: translate(-50%, -50%);
    width: 327px;
  }
}
@media screen and (min-width: 1280px) {
  .mobile__nav-toggle {
    display: none;
  }
  #eb-header-navi {
    display: flex;
    justify-content: center;
  }
  .nav__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .nav__item {
    align-items: center;
    align-self: stretch;
    display: flex;
    position: relative;
  }
  .nav__link {
    color: hsl(233, 8%, 62%);
    font-size: 0.875rem;
  }
  .nav__link:has(span:hover) {
    align-items: center;
    align-self: stretch;
    display: flex;
    position: relative;
  }
  .nav__link:hover::before {
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .nav__link span:hover {
    color: hsl(233, 26%, 24%);
  }
}
.hero-bg {
  background-attachment: local;
  background-image: url("../images/bg-intro-mobile.svg");
  background-position: top -50px center;
  background-repeat: no-repeat;
  background-size: auto;
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: top right;
    background-size: 100%;
  }
}
@media screen and (min-width: 960px) {
  .hero-bg {
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: top -250px right;
    background-size: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-bg {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: top -200px right -340px;
  }
}
@media screen and (min-width: 1440px) {
  .content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    margin-inline: auto;
  }
  .hero-bg {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: 42.5vw -185px;
    background-size: 1340px 1034px;
  }
}
.section {
  margin-block-start: 2em;
  padding-block-end: 4.875em;
  padding-block-start: 3.5em;
}

.section__title {
  font-size: 2rem;
  font-weight: 300;
}

.section__title,
.section__intro {
  text-align: center;
}

.section__intro {
  font-size: 0.938rem;
  line-height: 1.6;
  margin-block-start: 1.375em;
}

@media screen and (min-width: 1280px) {
  .section {
    margin-block-start: 0;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-block-start: 5.75em;
    padding-block-end: 5.5em;
  }
  .section__title {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .section__title,
  .section__intro {
    text-align: left;
  }
  .section__intro {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-block-start: 1.5em;
  }
  .section:nth-child(1) .section__intro {
    width: 640px;
  }
  .section:nth-child(2) {
    padding-block-start: 5em;
    padding-block-end: 4.5em;
  }
}
.footer__box {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  place-items: center;
}

.footer__area {
  text-align: center;
}

.footer__logo-box {
  display: flex;
  justify-content: center;
}

#footer-logo {
  fill: hsl(0, 0%, 100%);
}

.footer-nav__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 300;
  gap: 1em;
  justify-content: center;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-nav__link {
  color: hsl(0, 0%, 100%);
}

.footer-nav__link:hover,
.footer-nav__link:focus-visible {
  color: hsl(136, 65%, 51%);
}

.footer__copyright {
  font-size: 0.875rem;
  margin-block-start: 1.875em;
}

@media screen and (min-width: 1280px) {
  .footer__box {
    display: grid;
    gap: 2em;
    grid-template-columns: 255px 1fr 255px;
    grid-template-rows: 95px;
  }
  .footer__area {
    align-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__area:nth-child(1) {
    margin-right: auto;
  }
  .footer__area:nth-child(2) {
    margin-right: auto;
  }
  .footer__area:nth-child(3) {
    align-items: end;
    margin-left: auto;
  }
  .footer-nav__list {
    columns: 2;
    display: inline-block;
    margin: 0;
  }
  .footer-nav__item {
    margin-block-end: 0.5em;
    text-align: left;
    width: 190px;
  }
}
.btn {
  background: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  height: 24px;
  outline: none;
  padding: 0;
  width: 24px;
}

.request__link-box {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  border-radius: 25px;
  justify-content: center;
  margin-inline: auto;
  width: fit-content;
}

.request__link {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 1;
  padding-block: 0.813em;
  padding-inline: 2.375em;
}

.request__link:hover,
.request__link:focus-visible {
  opacity: 0.6;
}

.header__box .request__link {
  display: none;
}

.hero .request__link-box {
  margin-block-start: 2.375em;
}

footer .request__link:hover,
footer .request__link:focus-visible {
  opacity: 0.6;
}

@media screen and (min-width: 960px) {
  .hero .request__link-box {
    margin-inline: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header__box .request__link {
    display: block;
    margin-block-end: 1.313em;
    margin-block-start: 1.125em;
  }
  .hero__content .request__link-box {
    margin-inline: 0;
    margin-right: auto;
  }
  .footer__area .request__link-box {
    margin-inline: 0;
    margin-left: auto;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  justify-content: center;
  margin-inline: auto;
  padding-block-end: 2.5em;
  position: relative;
  width: 375px;
  z-index: 4;
}

.hero__image-box {
  margin-block-start: -60px;
  margin-inline: auto;
  width: 327px;
}

.hero__image-stretch {
  margin-inline-end: -9px;
  margin-inline-start: -9px;
}

.hero__image {
  object-fit: fill;
  width: 100%;
}

.hero__content {
  margin-block-start: 1.25em;
  margin-inline: auto;
  text-align: center;
  width: 327px;
}

.hero__title {
  font-size: 2.5rem;
  line-height: 1.2;
}

.hero__text {
  font-size: 0.938rem;
  line-height: 1.7;
  margin-block-start: 0.75em;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 500px;
  }
  .hero__image-box {
    margin-inline: auto 0;
    width: 500px;
  }
  .hero__content {
    margin-inline: auto;
    width: 396px;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    width: 800px;
  }
  .hero__image-box {
    margin-inline: auto 0;
    width: 500px;
  }
  .hero__content {
    margin-inline: 0 auto;
    margin-top: -100px;
    width: 400px;
  }
  .hero__title,
  .hero__text {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 960px;
  }
  .hero__box {
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
  }
  .hero__image-box {
    margin-inline: auto 0;
    width: 500px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-inline: 0 auto;
    margin-top: 0;
    width: 400px;
  }
  .hero__title,
  .hero__text {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    display: flex;
    justify-content: center;
    padding-block-end: 0;
    width: 100%;
    height: 41em;
  }
  .hero__box {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 41em;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
  }
  .hero__image-stretch {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
  .hero__image-box {
    height: 100%;
    width: 54.6%;
  }
  .hero__image {
    height: 899px;
    margin-top: -10px;
    margin-left: 12.5rem;
    width: 757px;
  }
  .hero__content {
    margin-inline: 0;
    max-width: 1440px;
    padding-block-start: 4em;
    padding-left: 11.3rem;
    width: 45.4%;
    text-align: left;
  }
  .hero__title {
    font-size: 3.5rem;
    width: 450px;
  }
  .hero__text {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-block-start: 1.375em;
    width: 450px;
  }
}
.pro-arg__box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  margin-block-start: 3.125em;
}

.pro-arg__image {
  margin-inline: auto;
}

.pro-arg__content-box {
  padding-block-start: 1.625em;
}

.pro-arg__text {
  font-size: 0.938rem;
  line-height: 1.7;
  margin-block-start: 1.125em;
}

@media screen and (min-width: 768px) {
  .pro-arg__box {
    display: grid;
    gap: 3em;
    grid-template-columns: 500px;
  }
}
@media screen and (min-width: 960px) {
  .pro-arg__box {
    grid-template-columns: repeat(2, 372px);
    margin-block-start: 4.125em;
  }
}
@media screen and (min-width: 1440px) {
  .profile {
    z-index: 2;
  }
  .pro-arg__box {
    gap: 0 1.625em;
    grid-template-columns: repeat(4, 255px);
  }
  .pro-arg__image {
    margin-inline: 0 auto;
  }
  .pro-arg__content-box {
    padding-block-start: 2.25em;
  }
  .pro-arg__title {
    font-size: 1.5rem;
  }
  .pro-arg__title,
  .pro-arg__text {
    text-align: left;
  }
  .pro-arg__text {
    font-size: 1rem;
    margin-block-start: 1.625em;
  }
}
.articles__box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.375em;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-block-start: 1.875em;
  margin-inline: auto;
}

.articles__item {
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
  overflow: hidden;
}

.article__image-box {
  height: 200px;
}

.article__image {
  clip-path: polygon(0px 0px, 100% 0px, 100% 200px, 0px 200px);
  object-fit: fill;
}

.article__content-box {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-block-end: 2.25em;
  padding-block-start: 1.5em;
  padding-inline-end: 1.25em;
  padding-inline-start: 1.75em;
}

.article__author {
  color: hsl(233, 8%, 62%);
  font-size: 0.625rem;
}

.article__title {
  font-size: 1rem;
  margin-block-start: 0.75em;
  text-align: left;
}

.article__link {
  color: hsl(233, 26%, 24%);
}

.article__link:hover,
.article__link:focus-visible {
  color: hsl(136, 65%, 51%);
}

.article__text {
  font-size: 0.813rem;
  line-height: 1.5;
  margin-block-start: 0.5em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .articles__box {
    display: grid;
    gap: 3em;
    grid-template-columns: 500px;
  }
}
@media screen and (min-width: 960px) {
  .articles__box {
    grid-template-columns: repeat(2, 372px);
  }
}
@media screen and (min-width: 1440px) {
  .articles__box {
    gap: 1.625em;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: 395px;
    margin-block-start: 3em;
  }
  .article__image-box {
    width: 255px;
    height: 200px;
  }
  .article__image {
    aspect-ratio: 255/200;
    object-fit: fill;
  }
  .article__content-box {
    padding-block-end: 1.25em;
    padding-block-start: 1.5em;
    padding-inline-end: 1.25em;
    padding-inline-start: 1.5em;
  }
  .article__text {
    font-size: 0.75rem;
    margin-block-start: 0.875em;
  }
}
.social-media__list {
  display: flex;
  flex-direction: row;
  gap: 0.875em;
  margin-block-start: 1.75em;
  margin-block-end: 0;
  padding: 0;
}

.social-media__item {
  display: flex;
}

.social-media__link {
  height: 24px;
  width: 24px;
}

.social-media__link:hover svg path {
  fill: hsl(136, 65%, 51%);
}

/*# sourceMappingURL=main.css.map */
