@use "../abstract/" as *;


.footer__box {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    place-items: center;
}

.footer__area {
    text-align: center;
}

.footer__logo-box {
    display: flex;
    justify-content: center;
}

#footer-logo {
    fill: $clr-white;
}

.footer-nav__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $fs-300;
    font-weight: $fw-300;
    gap: 1em;
    justify-content: center;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-nav__link {
    color: $clr-white;
}

.footer-nav__link:hover,
.footer-nav__link:focus-visible {
    color: $clr-lime-green;
}

.footer__copyright {
    font-size: $fs-300;
    margin-block-start: 1.875em;
}

@media screen and (min-width: $mq-stage-03) {
    
    .footer__box {
        display: grid;
        gap: 2em;
        grid-template-columns: 255px 1fr 255px;
        grid-template-rows: 95px;
    }

    .footer__area {
        align-content: start;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer__area:nth-child(1) {
        margin-right: auto;
    }

    .footer__area:nth-child(2) {
        margin-right: auto;
    }

    .footer__area:nth-child(3) {
        align-items: end;
        margin-left: auto;
    }

    .footer-nav__list {
        columns: 2;
        display: inline-block;
        margin: 0;
    }

    .footer-nav__item {
        margin-block-end: .5em;
        text-align: left;
        width: 190px;
    }

}
