@use "../abstract/" as *;


.primary-header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: start;
    padding: 1.063em 0 1em;
    position: relative;
    width: 100%;
    z-index: 11;
}

.header__logo {
    align-items: center;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1280px) {
    
    .header__box {
        padding: 0;
    }

}