@use "../abstract/" as *;


.primary-header[data-overlay]::before {
    background: linear-gradient(to bottom, $clr-dark-blue, transparent);
    content: "";
    inset: 0;
    margin-block-start: 3.375em;
    position: fixed;
    z-index: 9;
}

.primary-navigation {
    display: none;
}

.primary-navigation[data-visible] {
    background: $clr-white;
    border-radius: 4px;
    display: block;
    left: 50%;
    margin-block-start: 3em;
    margin-inline: auto;
    padding-block: 1.5em 1.5em;
    position: fixed;
    top: 17%;
    transform: translate(-50%, -50%);
    width: 327px;
}

.nav__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: $clr-dark-blue;
}

.mobile__nav-toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    height: 24px;
    position: sticky;
    width: 24px;
}

.mobile__nav-toggle[aria-expanded="false"] {
    background-image: url("../images/icon-hamburger.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 11px;
}

.mobile__nav-toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px 19px;
}


@media screen and (min-width: $mq-stage-02) {
    
    .primary-navigation[data-visible] {
        background: $clr-white;
        border-radius: 4px;
        display: block;
        left: 50%;
        margin-inline: auto;
        margin-block-start: 0;
        padding-block: 1.5em 1.5em;
        position: fixed;
        top: 32%;
        transform: translate(-50%, -50%);
        width: 327px;
    }

}


@media screen and (min-width: $mq-stage-03) {

    .mobile__nav-toggle {
        display: none;
    }

    .primary-navigation {
        display: flex;
        justify-content: center;
    }

    .nav__list {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    
    .nav__item {
        align-items: center;
        align-self: stretch;
        display: flex;
        position: relative;
    }
    
    .nav__link {
        color: $clr-grayish-blue;
        font-size: $fs-300;
    }
    
    .nav__link:has(span:hover) {
        align-items: center;
        align-self: stretch;
        display: flex;
        position: relative;
    }
    
    .nav__link:hover::before {
        background: linear-gradient(to right, $clr-link-btn);
        bottom: 0;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    
    .nav__link span:hover {
        color: $clr-dark-blue;
    }

}

