@use "../abstract/" as *;


.hero-bg {
    background-attachment: local;
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: top -50px center;
    background-repeat: no-repeat;
    background-size: auto;
}

@media screen and (min-width: $mq-stage-01) {

    .hero-bg {
        background-image: url("../images/bg-intro-mobile.svg");
        background-position: top right;
        background-size: 100%;
    }

}

@media screen and (min-width: $mq-stage-02) {

    .hero-bg {
        background-image: url("../images/bg-intro-mobile.svg");
        background-position: top -250px right;
        background-size: 100%;
    }

}

@media screen and (min-width: $mq-stage-03) {

    .hero-bg {
        background-image: url("../images/bg-intro-desktop.svg");
        background-position: top -200px right -340px;
    }

}


@media screen and (min-width: $mq-desktop) {

    .content-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: hidden;
        width: 100%;
    }
    
    .hero-bg {
        background-image: url("../images/bg-intro-desktop.svg");
        background-position: 43.4vw -260px;
    }

}
