@use "../abstract/" as *;


.section {
    margin-block-start: 2em;
    padding-block-end: 4.875em;
    padding-block-start: 3.5em;
}

.section__title {
    font-size: $fs-800;
    font-weight: $fw-300;
}

.section__title,
.section__intro {
    text-align: center;
}

.section__intro {
    font-size: $fs-350;
    line-height: 1.6;
    margin-block-start: 1.375em;
}

@media screen and (min-width: $mq-stage-03) {
    
    .section:nth-child(1) {
        margin-block-start: 0;
    }

}


@media screen and (min-width: $mq-desktop) {

    .section__title,
    .section__intro {
        text-align: left;
    }

    .section:nth-child(1) .section__intro {
        width: 540px;
    }

}