@use "../abstract/" as *;

body {
    font-size: $fs-500;
    background-color: $clr-very-light-gray;
}

header {
    position: relative;
    background: $clr-white;
}

footer {
    background-color: $clr-dark-blue;
    padding-block-start: 2.25em;
    padding-block-end: 2em;
}

main {
    position: relative;
    z-index: 1;
}

section {
    display: flow-root;
    padding-block-end: 3em;
}

h1, h2, h3 {
    margin-block-start: 0;
    color: $clr-dark-blue;
    font-weight: $fw-300;
    text-align: center;
}

p {
    color: $clr-grayish-blue;
    text-align: center;
    font-size: $fs-400;
}

a {
    text-decoration: none;
}

