@use "../abstract/" as *;

.articles__box {
    margin-block-start: 1.875em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.375em 0;
}

.articles__item {
    border-radius: 6px;
    overflow: hidden;
    background-color: $clr-white;
}

.article__image-box {
    height: 200px;
}

.article__image {
    object-fit: fill;
    clip-path: polygon(0px 0px, 100% 0px, 100% 200px, 0px 200px);
}

.article__content-box {
    padding-block-start: 1.5em;
    padding-block-end: 2.25em;
    padding-inline-start: 1.75em;
    padding-inline-end: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.article__author {
    color: $clr-grayish-blue;
    font-size: $fs-100;
}

.article__title {
    font-size: $fs-400;
    text-align: left;
    margin-block-start: .75em;
}

.article__link {
    color: $clr-dark-blue;
}

.article__link:hover,
.article__link:focus-visible {
    color: $clr-lime-green;
}

.article__text {
    font-size: $fs-250;
    text-align: left;
    line-height: 1.5;
    margin-block-start: .5em;
}

@media screen and (min-width: $mq-desktop) {

    .articles__box {
        grid-template-columns: repeat(4, 255px);
        gap: 0 1.625em;
    }

    .article__image-box {
        width: 255px;
    }

    .article__image {
        aspect-ratio: 4 / 3;
    }
}