@use "../abstract/" as *;

.articles__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.375em;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-block-start: 1.875em;
    margin-inline: auto;
}

.articles__item {
    background-color: $clr-white;
    border-radius: 6px;
    overflow: hidden;
}

.article__image-box {
    height: 200px;
}

.article__image {
    clip-path: polygon(0px 0px, 100% 0px, 100% 200px, 0px 200px);
    object-fit: fill;
}

.article__content-box {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-block-end: 2.25em;
    padding-block-start: 1.5em;
    padding-inline-end: 1.25em;
    padding-inline-start: 1.75em;
}

.article__author {
    color: $clr-grayish-blue;
    font-size: $fs-100;
}

.article__title {
    font-size: $fs-400;
    margin-block-start: .75em;
    text-align: left;
}

.article__link {
    color: $clr-dark-blue;
}

.article__link:hover,
.article__link:focus-visible {
    color: $clr-lime-green;
}

.article__text {
    font-size: $fs-250;
    line-height: 1.5;
    margin-block-start: .5em;
    text-align: left;
}


@media screen and (min-width: $mq-stage-01) {

    .articles__box {
        display: grid;
        gap: 3em;
        grid-template-columns: 500px;
    }
    
}


@media screen and (min-width: $mq-stage-02) {

    .articles__box {
        grid-template-columns: repeat(2, 372px);
    }
    
}


@media screen and (min-width: $mq-desktop) {

    .articles__box {
        gap: 1.625em;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: 395px;
        margin-block-start: 3em;
    }

    .article__image-box {
        width: 255px;
        height: 200px;
    }

    .article__image {
        aspect-ratio: 255 / 200;
        object-fit: fill;
    }

    .article__content-box {
        padding-block-end: 1.25em;
        padding-block-start: 1.5em;
        padding-inline-end: 1.25em;
        padding-inline-start: 1.5em;
    }

    .article__text {
        font-size: $fs-200;
        margin-block-start: .875em;
    }

}