@use "../abstract/" as *;

.hero {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    justify-content: center;
    margin-inline: auto;
    padding-block-end: 2.5em;
    position: relative;
    width: 375px;
    z-index: 4;
}

.hero__image-box {
    margin-block-start: -60px;
    margin-inline: auto;
    width: 327px;
}

.hero__image-stretch {
    margin-inline-end: -9px;
    margin-inline-start: -9px;
}

.hero__image {
    object-fit: fill;
    width: 100%;
}

.hero__content {
    margin-block-start: 1.25em;
    margin-inline: auto;
    text-align: center;
    width: 327px;
}

.hero__title {
    font-size: $fs-900;
    line-height: 1.2;
}

.hero__text {
    font-size: $fs-350;
    line-height: 1.7;
    margin-block-start: .75em;
}

@media screen and (min-width: $mq-stage-01) {

    .hero {
        width: 500px;
    }

    .hero__image-box {
        margin-inline: auto 0;
        width: 500px;
    }

    .hero__content {
        margin-inline: auto;
        width: 396px;
    }
    
}

@media screen and (min-width: $mq-stage-02) {

    .hero {
        width: 800px;
    }

    .hero__image-box {
        margin-inline: auto 0;
        width: 500px;
    }

    .hero__content {
        margin-inline: 0 auto;
        margin-top: -100px;
        width: 400px;
    }
    
    .hero__title,
    .hero__text {
        text-align: left;
    }
}

@media screen and (min-width: $mq-stage-03) {

    .hero {
        width: 960px;
    }

    .hero__box {
        display: flex;
        flex-direction: row-reverse;
        height: 500px;
    }

    .hero__image-box {
        margin-inline: auto 0;
        width: 500px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-inline: 0 auto;
        margin-top: 0;
        width: 400px;
    }
    
    .hero__title,
    .hero__text {
        text-align: left;
    }
}


@media screen and (min-width: $mq-desktop) {

    .hero {
        display: flex;
        justify-content: center;
        padding-block-end: 0;
        width: 100%;
        height: 41em;
    }

    .hero__box {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        height: 41em;
        justify-content: center;
        max-width: 1440px;
        width: 100%;
    }
    
    .hero__image-stretch {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    .hero__image-box {
        height: 100%;
        width: 54.6%;
    }

    .hero__image {
        height: 899px;
        margin-top: -10px;
        margin-left: 12.5rem;
        width: 757px;
    }

    .hero__content {
        margin-inline: 0;
        max-width: 1440px;
        padding-block-start: 4em;
        padding-left: 11.3rem;
        width: 45.4%;
        text-align: left;
    }

    .hero__title {
        font-size: $fs-950;
        width: 450px;
    }

    .hero__text {
        font-size: $fs-500;
        line-height: 1.5;
        margin-block-start: 1.375em;
        width: 450px;
    }

}