@use "../abstract/" as *;


.request__link-box {
    background-color: $clr-white;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    margin-inline: auto;
    width: fit-content;
}

.request__link {
    background: linear-gradient(to right, $clr-link-btn);
    border-radius: 25px;
    color: $clr-white;
    display: inline-block;
    font-size: .875rem;
    font-weight: $fw-700;
    opacity: 1;
    padding-block: .813em;
    padding-inline: 2.375em;
}

.request__link:hover,
.request__link:focus-visible {
    opacity: .6;
}

.header__box .request__link {
    display: none;
}

.hero .request__link-box {
    margin-block-start: 2.375em;
}

footer .request__link:hover,
footer .request__link:focus-visible {
    opacity: .6;
}

@media screen and (min-width: $mq-stage-02) {

    .hero .request__link-box {
        margin-inline: 0;
        margin-right: auto;
    }
    

}

@media screen and (min-width: $mq-stage-03) {
    
    .header__box .request__link {
        display: block;
        margin-block-end: 1.125em;
        margin-block-start: 1.125em;
    }

    .hero__content .request__link-box {
        margin-inline: 0;
        margin-right: auto;
    }

    .footer__area .request__link-box {
        margin-inline: 0;
        margin-left: auto;
    }

}