@use "../abstract/" as *;

.social-media__list {
    padding: 0;
    margin-block-start: 1.75em;
    margin-block-end: 0;
    display: flex;
    flex-direction: row;
    gap: .875em;
}

.social-media__item {
    display: flex;
}

.social-media__link {
    width: 24px;
    height: 24px;
}

.social-media__link:hover svg path {
    fill: $clr-lime-green;
}